<md-card>
  <md-card-title>Add a new model</md-card-title>
  <md-card-content>
    <form>
      <div id='dropbox-container'></div>
    </form>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button color="accent" (click)="addFile()">Upload the IFC file</button>
  </md-card-actions>
</md-card>

<div class="card-container">
  <md-card *ngFor="let file of files" class="card">
    <img md-card-image *ngIf="file.ThumbnailUrl" [src]="file.ThumbnailUrl">
    <img md-card-image *ngIf="!file.ThumbnailUrl" src='../../../waiting_for_process.png'>
    <md-card-actions align="end">
      <a [routerLink]="'/dashboard/model/'+file._id" *ngIf="file.ThumbnailUrl"><button md-button color="primary">View Model</button></a>
      <button md-button color="primary" (click)="deleteFile(file)">Delete Model</button>
    </md-card-actions>
  </md-card>
</div>
