.fixwidth {
  width: 400px;
  box-sizing: border-box;
  margin: 16px;
}
[md-fab] {
  position: absolute;
  right: 3%;
  top: 35px;
  z-index: 1;
}
md-input {
  margin: 8px 0;
  width: 50%;
}
img{
  width: 180px;
  height: 150px;
}
