<button md-fab (click)="formShowing=!formShowing">
  <md-icon>add</md-icon>
</button>
<md-card *ngIf="formShowing">
  <md-card-subtitle>Add a new project</md-card-subtitle>
  <md-card-content>
    <md-list>
      <md-list-item>
        <md-input #p_name placeholder="Name"></md-input>
      </md-list-item>
      <md-list-item>
        <md-input #p_desc placeholder="Description"></md-input>
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button color="accent" (click)="addProject(p_name.value, p_desc.value)">Create a Project</button>
  </md-card-actions>
</md-card>

<div class="card-container">
  <md-card *ngFor="let project of projects" class="card">
    <md-card-title>{{project.Name}}</md-card-title>
    <md-card-content>{{project.Description}}</md-card-content>
    <md-card-actions align="end">
      <a [routerLink]="'/dashboard/project/'+project._id"><button md-button color="primary">Open Project</button></a>
      <button md-button color="primary" (click)="deleteProject(project)">Delete Project</button>
    </md-card-actions>
  </md-card>
</div>