<button md-fab (click)="formShowing=!formShowing">
  <md-icon>add</md-icon>
</button>

  <md-card *ngIf="formShowing">
    <md-card-title>Create a new project</md-card-title>
    <md-card-content>
      <form>
        <md-input #p_name placeholder="Name"></md-input>
        <md-input #p_desc placeholder="Description"></md-input>
      </form>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button color="accent" (click)="addProject(p_name.value, p_desc.value)">Create</button>
    </md-card-actions>
  </md-card>

<div class="card-container">
  <md-card *ngFor="let project of projects" class="fixwidth">
    <md-card-title>{{project.name}}</md-card-title>
    <md-card-content>
      {{project.description}}
    </md-card-content>
    <md-card-actions align="end">
      <button md-button color="primary" (click)="checkProject(project)">Open Project Folder</button>
      <button md-button color="primary" (click)="deleteProject(project)">Delete Project</button>
    </md-card-actions>
  </md-card>
</div>
