<md-sidenav-layout>
  <md-sidenav #info align="end" style="width: 50%">
    <md-tab-group>
      <md-tab>
        <template md-tab-label>{{entity?.EntityType}}</template>
        <template md-tab-content>
          <md-card  class="fixwidth" align="left">
            <md-card-content>
              <div *ngFor="let attribute of entity?.Attribute">
                <md-input  class="fixwidth" *ngIf='attribute.Editable' placeholder={{attribute.Name}} [disabled]="isGUID(attribute.Name)" [(ngModel)]="attribute.Value"></md-input>
              </div>
            </md-card-content>
            <md-card-actions align="end">
              <button md-button color="primary" *ngIf='entity' (click)='updateAttribute(entity)'>Update</button>
            </md-card-actions>
          </md-card>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>IfcProperties</template>
        <template md-tab-content>
          <md-card *ngFor="let property_set of entity?.PropertySets; let i = index"  align="left" class="card-container">
            <md-card-title class="card-container">
              <div class="card-container">
                <span>{{property_set.Name}}</span>
              </div>
              <button md-button  color="primary" (click)="formshow[i]=!formshow[i]">
                <span *ngIf="formshow[i]">Collapse</span>
                <span *ngIf="!formshow[i]">Expand</span>
              </button>
            </md-card-title>
            <md-card-content *ngIf="formshow[i]" class="card-container">
              <md-card *ngFor="let property of property_set.Properties">
                <md-card-content>
                    <md-input value={{property.Value}} placeholder={{property.Name}}  disabled="true"></md-input>
                </md-card-content>
              </md-card>
            </md-card-content>
          </md-card>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>User Properties</template>
        <template md-tab-content>
          <button md-mini-fab (click)="addUserPropertySet()">
            <md-icon>add</md-icon>
          </button>
          <button md-mini-fab (click)="updateUserPropertySet()">
            <md-icon>cached</md-icon>
          </button>
          <md-card *ngFor="let user_property_set of entity?.UserProperty"  align="left"  class="card-container" style="width: 300px;">
            <md-card-subtitle>
              <md-input placeholder="Property Set Name" [(ngModel)]="user_property_set.Name"></md-input>
              <md-input placeholder="Description" [(ngModel)]="user_property_set.Description"></md-input>
              <div align="end">
                <button md-mini-fab (click)="addUserProperty(user_property_set)" >
                  <md-icon>add</md-icon>
                </button>
                <button md-mini-fab (click)="removeUserPropertySet(user_property_set)" >
                  <md-icon>delete</md-icon>
                </button>
              </div>
            </md-card-subtitle>
            <md-card-content class="card-container">
              <md-card *ngFor="let user_property of user_property_set.Children" style="width: 250px">
                <md-card-content class="card-container">
                  <md-input placeholder="Property Name" [(ngModel)]="user_property.Name"></md-input>
                  <md-input placeholder="Description" [(ngModel)]="user_property.Description"></md-input>
                  <md-input placeholder="Value" [(ngModel)]="user_property.Value"></md-input>
                </md-card-content>
                <md-card-actions align="end">
                  <button md-mini-fab (click)="removeUserProperty(user_property_set,user_property)" align="end">
                    <md-icon>delete</md-icon>
                  </button>
                </md-card-actions>
              </md-card>
            </md-card-content>
          </md-card>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>Geometry Features</template>
        <template md-tab-content>
          <md-card  align="left" class="card-container">
            <md-card-content>
              <button md-raised-button color="accent" (click)="query.open();info.close()" align="end" class="query">Explore the Model in Spatial Context</button>
              <div *ngFor="let feature of entity?.Features" >
                <md-input *ngIf="feature_type(feature.Value)=='input'" class="fixwidth" placeholder={{feature.Name}} disabled [value]="parse_feature(feature.Value)"></md-input>
              </div>
            </md-card-content>
          </md-card>
          <!--<app-viewer style="float: right" [extent]="extent" [transformation]="transformation" [centroid]="centroid" [geometry]="geometry" [WIDTH]="400" [HEIGHT]="400"></app-viewer>-->
        </template>
      </md-tab>
    </md-tab-group>
  </md-sidenav>
  <md-sidenav #query align="left" style="width: 25%">
    <md-tab-group>
      <md-tab>
        <template md-tab-label>Pairwise Features</template>
        <template md-tab-content>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="highlight()">Highlight</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="viewerReset()">Reset model</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="connect()">Connected objects</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="notConnect()">Unconnected objects</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="paraExtrusion()">Parallel objects</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="notParaExtrusion()">Non-parallel objects</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="higherCentroid()">Objects with lower centroid</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="lowerCentroid()">Objects with higher centroid</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="higherBottom()">Objects with lower base level</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="lowerBottom()">Objects with higher base level</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="longgerExtrusion()">Shorter objects</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="shorterExtrusion()">Longer objects</button></div>
          <!--<div style="margin: 10px"><button md-raised-button color="accent" (click)="convex()">I'm convex</button></div>-->
          <!--<div style="margin: 10px"><button md-raised-button color="accent" (click)="notConvex()">I'm not convex</button></div>-->
          <!--<div style="margin: 10px"><button md-raised-button color="accent" (click)="parallelBridge()">Parallel with the bridge longitudinal axis?</button></div>-->
          <!--<div style="margin: 10px"><button md-raised-button color="accent" (click)="notParallelBridge()">not parallel with the longitudinal axis?</button></div>-->
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="volumeBigger()">Smaller objects</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="volumeSmaller()">Bigger objects</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="notCompleteAbove()">Objects not complete below</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="completeAbove()">Objects completely below</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="closerLongi()">Objects further to bridge longitudinal axis</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="furtherLongi()">Objects closer to bridge longitudinal axis</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="closerTran()">Objects further to Bridge transverse axis</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="furtherTran()">Objects closer to Bridge transverse axis</button></div>
          <!--<div style="margin: 10px"><button md-raised-button color="accent" (click)="paraBriTrans()"> Parallel with bridge transverse axis?</button></div>-->
          <!--<div style="margin: 10px"><button md-raised-button color="accent" (click)="notParaBriTrans()"> not parallel with transverse axis?</button></div>-->
          <!--<div style="margin: 10px"><button md-raised-button color="accent" (click)="Vertical()"> Vertical?</button></div>-->
          <!--<div style="margin: 10px"><button md-raised-button color="accent" (click)="notVertical()"> not vertical?</button></div>-->
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="overlapZ()">Overlapping objects</button></div>
          <div style="margin: 10px"><button md-raised-button color="accent" (click)="notOverlapZ()">Nonoverlapping objects</button></div>


          <!--below are old query interface-->
          <!--<div align="end">-->
            <!--<button md-fab (click)="addClause()">-->
              <!--<md-icon>add</md-icon>-->
            <!--</button>-->
            <!--<button md-fab (click)="searchClause()">-->
              <!--<md-icon>find</md-icon>-->
            <!--</button>-->
          <!--</div>-->
          <!--<md-card *ngFor="let clause of clauses"  align="left"  class="card-container">-->
            <!--<md-card-subtitle>-->
              <!--<span>Search for shape feature</span>-->
            <!--</md-card-subtitle>-->
            <!--<md-card-content>-->
              <!--<md-radio-group [(ngModel)]="clause.Field" name="fieldOption">-->
                <!--<md-radio-button *ngFor="let field of fieldOptions"  name="fieldOption" [value]="field.value" [disabled]="field.disable">-->
                  <!--{{field.label}}-->
                <!--</md-radio-button>-->
              <!--</md-radio-group>-->
              <!--<br>-->
              <!--<md-radio-group [(ngModel)]="clause.Operator" name="operatorOption">-->
                <!--<md-radio-button *ngFor="let operator of operatorOptions" name="operatorOption" [value]="operator.value" [disabled]="operator.disable">-->
                  <!--{{operator.label}}-->
                <!--</md-radio-button>-->
              <!--</md-radio-group>-->
              <!--<br>-->
              <!--<md-input  class="fixwidth" [(ngModel)]="clause.Value"></md-input>-->
            <!--</md-card-content>-->
            <!--<md-card-actions align="end">-->
              <!--<button md-fab (click)="removeClause(clause)" align="end">-->
                <!--<md-icon>delete</md-icon>-->
              <!--</button>-->
            <!--</md-card-actions>-->
          <!--</md-card>-->
        </template>
      </md-tab>
    </md-tab-group>
    <!--<button md-raised-button color="warn" (click)='select_item(["3lB8HeqWX8Tfa2Zdze9mAo", "3lB8HeqWX8Tfa2Zdze9mMC"])' align="left"> Select 2</button>-->
    <!--<br>-->
    <!--<button md-raised-button color="warn" (click)='select_item(["3lB8HeqWX8Tfa2Zdze9mMC"])' align="end"> Select 1</button>-->
  </md-sidenav>

  <!--<md-sidenav #classification align="left" style="width: 25%"  *ngif="viewer">-->
    <!--<iframe src="https://docs.google.com/spreadsheets/d/1Js4MyHKM_XA96GZPZtO-smJM4xUsobqkDLYEr_9EnAg/pubhtml?widget=true&amp;headers=false"></iframe>-->
  <!--</md-sidenav>-->


  <button *ngIf="viewer" md-raised-button color="accent" (click)="sheet_info=true;run()" class="query">Run the Object Classification Process</button>
  <!--<button *ngIf="viewer" md-raised-button color="accent" (click)="clear()" class="clear"> Clear </button>-->

  <div id="TrimbleConnectViewer"></div>
  <div class="invisible" id='guids'></div>
  <button (click)="getEntity();" class="invisible" id='selected_guids'></button>
  <!--<button (click)="getEntity();info.open();" class="invisible" id='selected_guids'></button>-->
  <div  style="z-index: 10; position: absolute;left: 0;top: 50px;" *ngIf="sheet_info">
    <button *ngIf="sheet_info" md-raised-button color="accent" style="position: absolute; right: 0px; top: 0px; height: 30px" (click)="sheet_info=false">Close</button>
    <iframe src="https://docs.google.com/spreadsheets/d/1Js4MyHKM_XA96GZPZtO-smJM4xUsobqkDLYEr_9EnAg/pubhtml?widget=true&amp;headers=false" width="1000px" height="600px"></iframe>
  </div>
</md-sidenav-layout>

