<md-card >
  <md-card-title>{{project.name}}</md-card-title>
  <button md-fab (click)="formShowing=!formShowing">
  <md-icon>add</md-icon>
  </button>
  <md-card-content>
    {{project.description}}
    </md-card-content>
  </md-card>
<!--<new-project *ngIf="formShowing"></new-project>-->
<new-file *ngIf="formShowing" project_id={{project_id}} (formFold)="closeForm($event)"></new-file>

<div class="card-container">
  <md-card *ngFor="let file of files" class="fixwidth">
    <md-card-title>{{file.name}}</md-card-title>
    <md-card-content>
      {{file.description}}
    </md-card-content>
    <md-card-actions align="end">
      <button md-button color="primary" (click)="checkFile(file)">View Model</button>
      <button md-button color="primary" (click)="deleteFile(file)">Delete Model</button>
    </md-card-actions>
  </md-card>
</div>
