<md-sidenav-layout>
  <md-sidenav #info align="left" style="width: 30%">
    <md-list>
      <md-list-item>
        <md-input value={{this.guid}} placeholder='GlobalID' disabled="true" style="width: 80%" ></md-input>
      </md-list-item>
    </md-list>
    <md-tab-group>
      <md-tab>
        <template md-tab-label>Features</template>
        <template md-tab-content>
          <button md-button  color="primary" (click)="geometry_show=!geometry_show">
            Geometry Features -
            <span *ngIf="geometry_show">Collapse</span>
            <span *ngIf="!geometry_show">Expand</span>
          </button>
          <md-list *ngIf="geometry_show">
              <md-list-item *ngFor="let feature of geometry_features">
                <md-input value={{feature.FeatureValue}} placeholder={{feature.FeatureName}}  disabled="true"></md-input>
              </md-list-item>
            </md-list>
          <button md-button  color="primary" (click)="pairwise_show=!pairwise_show">
            Pairwise Features -
            <span *ngIf="pairwise_show">Collapse</span>
            <span *ngIf="!pairwise_show">Expand</span>
          </button>
          <md-list *ngIf="pairwise_show">
            <md-list-item *ngFor="let feature of pairwise_features">
              <button md-raised-button color="accent" (click)="show_objects(feature.FeatureValue)">
                {{feature.FeatureName}}
              </button>
            </md-list-item>
            <md-list-item>
              <button md-raised-button color="accent" (click)="reset_viewer()">
                Show all
              </button>
            </md-list-item>

          </md-list>
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>
          User Properties
        </template>
        <template md-tab-content>
          <button md-mini-fab (click)="user_input_show=!user_input_show">
            <md-icon *ngIf="!user_input_show">add</md-icon>
            <md-icon *ngIf="user_input_show">remove</md-icon>
          </button>
          <md-card *ngIf="user_input_show">
            <md-input placeholder="new label"></md-input>
            <button md-button color="warn" (click)="add()">
              Add
            </button>
          </md-card>
          <md-list>
            <md-list-item *ngFor="let feature of user_features">
              <md-input value={{feature.FeatureValue}} placeholder={{feature.FeatureName}}  disabled="true"></md-input>
            </md-list-item>
          </md-list>
        </template>
      </md-tab>
    </md-tab-group>
  </md-sidenav>
  <md-sidenav #work align="end" style="width:30%">
    <md-tab-group>
      <md-tab>
        <template md-tab-label>
          Semantic Enrichment
        </template>
        <template md-tab-content>
          test
        </template>
      </md-tab>
      <md-tab>
        <template md-tab-label>
          Laser Scanner Emulator
        </template>
        <template md-tab-content>
          <md-list>
            <md-list-item>
              <md-input #resolution placeholder='Scanning angular spacing (degree)' style="width: 50%" value="0.1"></md-input>
            </md-list-item>
            <md-list-item>
              <button md-raised-button color="accent" (click)="scan(resolution.value)">Scan</button>
            </md-list-item>
          </md-list>
          <md-list>
            <md-list-item *ngFor="let scan of scans,let i = index">
              <a href={{this.scannerAPI}}{{scan}} target="_blank"><button md-button color="primary">View Point Cloud {{i+1}}</button></a>
            </md-list-item>
          </md-list>
        </template>
      </md-tab>
    </md-tab-group>
  </md-sidenav>
  <button *ngIf="viewer" md-raised-button color="accent" (click)="work.open()" class="query">Workspace</button>
  <div id="TrimbleConnectViewer"></div>
<div class="invisible" id='guids'></div>
<button (click)="getEntity();" class="invisible" id='selected_guids'></button>
  <div  style="z-index: 10; position: absolute;left: 0;top: 50px;" *ngIf="sheet_info">
    <button *ngIf="sheet_info" md-raised-button color="accent" style="position: absolute; right: 0px; top: 0px; height: 30px" (click)="sheet_info=false">Close</button>
    <iframe src="https://docs.google.com/spreadsheets/d/1Js4MyHKM_XA96GZPZtO-smJM4xUsobqkDLYEr_9EnAg/pubhtml?widget=true&amp;headers=false" width="1000px" height="600px"></iframe>
  </div>
</md-sidenav-layout>
